@import "../../scss/main.scss";

.suggestions {
  position: relative;
  margin-top: 4.25rem;
  padding-block: 3.75rem;
  @media screen and (min-width: 62.5em) {
    padding-top: 4.5rem;
    padding-bottom: 6rem;
  }
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0.25;
    background: linear-gradient(
      315deg,
      #d6e6fe 0%,
      rgba(214, 252, 254, 0) 100%
    );
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    list-style: none;
    @media screen and (min-width: 62.5em) {
      flex-direction: row;
      gap: 2rem;
      max-width: 78rem;
      margin-inline: auto;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__img {
    width: 4rem;
    aspect-ratio: 1 / 1;
  }

  &__desc {
    margin-top: 1.5rem;
  }
}
