@import "./scss/main.scss";

.background-box {
  position: absolute;
  height: 40rem;
  width: 100%;
  z-index: -1;
  border-radius: 0rem 0rem 2.1875rem 2.1875rem;
  background: linear-gradient(315deg, #d6e6fe 0%, rgba(214, 252, 254, 0) 100%);
  @media only screen and (min-width: 600px) {
    height: 46rem;
    width: calc(50% + 15rem);
    left: clamp(0rem, 40vw + -32rem, 2rem);
  }
}
